/* 	=============================================

  	$ 	GRID
  	---------------------------------------------

  	*	STANDARD SET UP IS BASED ON: 
  	*	SML 3 COLS, MED 6 COLS, WIDE 12 COLS
  	*	COULD BE TWEAKED TO DO ANY EQUAL SPACED COL LAYOUT  BY EDITING VARS IN BASE

	$	REQUIRES 
	---------------------------------------------
	*	_BASE.SCSS
	*	_HELPERS.SCSS


============================================== 	*/		

	.grid {
		position: relative;
		float: left;
	 	width: 100%;
	  	margin-left: $grid-gutter * -1;
	  	@include clr();
	}
	.grid__unit {
	  	float: left;
	  	display: block;
	  	width: 100%;
	  	margin-left: $grid-gutter;
	}

/* =============================================

  > SMALL - 3 COLS

==============================================*/

	.s-1 {
		@include cols($grid-units-sml, 1);
	}
	.s-2 {
		@include cols($grid-units-sml, 2);
	}

/* =============================================

> OFFSETS

==============================================*/

	.s-push-1 {
		@include offset($grid-units-sml, 1)
	}
	.s-push-2 {
		@include offset($grid-units-sml, 2)
	}

@include mq(m) {

/* =============================================

  > MED - 6 COLS

==============================================*/

	.m-1 {
		@include cols($grid-units-med, 1);
	}
	.m-2 {
		@include cols($grid-units-med, 2);
	}
	.m-3 {
		@include cols($grid-units-med, 3);
	}
	.m-4 {
		@include cols($grid-units-med, 4);
	}
	.m-5 {
		@include cols($grid-units-med, 5);
	}

/* =============================================

> OFFSETS

==============================================*/

	.m-push-1 {
		@include offset($grid-units-med, 1)
	}
	.m-push-2 {
		@include offset($grid-units-med, 2)
	}
	.m-push-3 {
		@include offset($grid-units-med, 3)
	}
	.m-push-4 {
		@include offset($grid-units-med, 4)
	}
	.m-push-5 {
		@include offset($grid-units-med, 5)
	}
	
}

/* =============================================

  	> LARGE - 12 COLS

==============================================*/

	@include mq(w) {
			
		/*1/12*/
		.w-1 {
		  	@include cols($grid-units-wide, 1);
		}
		/*2/12*/
		.w-2 {
		  	@include cols($grid-units-wide, 2);
		}
		/*3/12*/
		.w-3 {
		 	@include cols($grid-units-wide, 3);
		}
		/*4/12*/
		.w-4 {
		   	@include cols($grid-units-wide, 4);
		}
		/*5/12*/
		.w-5 {
		  	@include cols($grid-units-wide, 5);
		}
		/*6/12*/
		.w-6 {
		 	@include cols($grid-units-wide, 6);
		}
		/*7/12*/
		.w-7 {
		 	@include cols($grid-units-wide, 7);
		}
		/*8/12*/
		.w-8 {
		 	@include cols($grid-units-wide, 8);
		}
		/*9/12*/
		.w-9 {
		  	@include cols($grid-units-wide, 9);
		}
		/*10/12*/
		.w-10 {
		  	@include cols($grid-units-wide, 10);
		}
		/*11/12*/
		.w-11 {
		  	@include cols($grid-units-wide, 11);
		}


/* =============================================

  > OFFSETS

==============================================*/
		

		/*1/12*/
		.w-push-1 { 
			@include offset($grid-units-wide, 1)
		}
		/*2/12*/
		.w-push-2 {
		  @include offset($grid-units-wide, 2)
		}
		/*3/12*/
		.w-push-3 {
		  @include offset($grid-units-wide, 3)
		}
		/*4/12*/
		.w-push-4 {
		  @include offset($grid-units-wide, 4)
		}
		/*5/12*/
		.w-push-5 {
		  @include offset($grid-units-wide, 5)
		}
		/*6/12*/
		.w-push-6 {
		  @include offset($grid-units-wide, 6)
		}
		/*7/12*/
		.w-push-7 {
		 @include offset($grid-units-wide, 7)
		}
		/*8/12*/
		.w-push-8 {
		  @include offset($grid-units-wide, 8)
		}
		/*9/12*/
		.w-push-9 {
		  @include offset($grid-units-wide, 9)
		}
		/*10/12*/
		.w-push-10 {
		  @include offset($grid-units-wide, 10)
		}
		/*11/12*/
		.w-push-11 {
		  @include offset($grid-units-wide, 11)
		}
	}
		
